.container {
  position: relative;
  top:50%;
  left: 50%;
  margin-top: -275px;
  margin-left:-25%;
  border: 10px solid #b6bdc3;
  width: 50%;
  height: 550px;
  background: #fff;
  margin: 0 auto;
}
.roundButtonGroup{
  position: relative;
  width: 401.8px;
  height: 370.6px;
}
